@import url('https://fonts.cdnfonts.com/css/poppins');

.title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: black !important;
    margin-bottom: 1rem;
}

.button{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    background-color: white !important;
    color: #9197B3 !important;
    border-radius: 8px !important;
    text-transform: none !important;
}

.button:hover{
    background-color: #5932EA !important; 
    color: white !important;
    border-radius: 8px !important;
}