.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: 400;
}

.input{
    padding: 3px;
    height: 1rem;
    border: 0;
    border-radius: 5px;
    min-width: 200px;
}

.password{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    font-weight: 400;
    justify-content: center;
}

.button{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    background-color: white !important;
    color: #5932EA !important;
    border-radius: 8px !important;
    text-transform: none !important;
    border: none;
    width: 100px;
    font-size: large;
    font-weight: 300;
    padding: 0.5rem;
}

.button:hover{
    background-color: #5932EA !important; 
    color: white !important;
    border-radius: 8px !important;
    border: none;
}