.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: 400;
}

.input{
    padding: 3px;
    height: 1rem;
    border: 0;
    border-radius: 5px;
    min-width: 200px;
}

.password{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    font-weight: 400;
    justify-content: center;
}

@keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .button {
    background-color: #ff5f6d;
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulseAnimation 2s infinite;
  }

  .button:hover {
    background-color: #ff3e4d;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
  